{% extends 'base.html.twig' %}

{% block title %}Home - My Blog{% endblock %}

{% block stylesheets %}
    <style>
        *{
            color: red;
        }
    </style>
{% endblock %}

{% block header %}
    {{ include('header.html.twig') }}
{% endblock %}

{% block body %}
    {{ include('submenu.html.twig') }}
    <p>Tartalom</p>
    <div>
        {% for i in(1..3) %}
            {{ include('@Blog/Default/article.html.twig') }}
        {% endfor %}
    </div>
    {{ include('sidebar.html.twig') }}
{% endblock %}

{% block footer %}
    {{ include('footer.html.twig') }}
{% endblock %}

{% block javascripts %}
{% endblock %}
